<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.remark.dao.HaoMapper">
    <select id="getHao" resultType="int">
        select num from newpaihangbangservicer where name =#{name}
    </select>
    <insert id="addHao" >
        insert into newpaihangbangservicer (name, num) VALUES (#{name},#{num})
    </insert>
    <update id="changeHao">
        update newpaihangbangservicer set num =#{num} where name=#{name}
    </update>
</mapper>